.service-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: $icon-color;

  $block-name:                &; // #{$block-name}__element

  &__col {
    flex: 0 1 100%;
    width: 100%;

    &:last-child {
      flex: 0 1 auto;
    }

    @media (min-width: $screen-md) {
      flex-basis: 50%;
      width: 50%;
    }

    @media (min-width: $screen-lg) {
      flex-basis: 33.33333%;
      width: calc(100% / 3);
    }
  }
}
