.page-header {
  position: relative;
  z-index: 5;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: transparent;
  border-bottom: 1px solid rgba($white, 0.15);
  transition: background 0.5s ease-out;

  $block-name:                &; // #{$block-name}__element

  &.sticky {
    position: fixed;
    top: 0;
    width: 100%;

    &--new-bg {
      background-color: $white;
      border-bottom-color: transparent;
      box-shadow: 0 8px 12px rgba($black, 0.35);

      .logo {

        svg {

          #icon {
            fill: $main-color;
          }

          #text {
            fill: $title-color;
          }
        }

        &:hover,
        &:focus {

          svg {

            #text {
              fill: $main-color;
            }
          }
        }
      }

      .icon-link {
        color: $text-color;

        &:hover,
        &:focus {
          color: $link-color--hover;
        }
      }

      .dropdown-toggle--menu {
        color: $text-color;

        &::after {
          background-image: svg-load('../blocks/metismenu/bg-img/arrow-bottom.svg', fill=$text-color);
        }

        &:hover,
        &:focus {
          color: $link-color--hover;

          &::after {
            background-image: svg-load('../blocks/metismenu/bg-img/arrow-bottom.svg', fill=$link-color--hover);
          }
        }
      }

      .topbar-nav .metismenu {

        li.active {

          a {
            color: $link-color--hover;

            &::before {
              background-color: $link-color--hover;
            }

            &.has-arrow {

              &::after {
                background-image: svg-load('../blocks/metismenu/bg-img/arrow-bottom.svg', fill=$link-color--hover) !important;
              }
            }
          }
        }

        a {
          color: $text-color;

          &:hover,
          &:focus {
            color: $link-color--hover;

            &::before {
              background-color: $link-color--hover;
            }
          }

          &.has-arrow {

            &::after {
              background-image: svg-load('../blocks/metismenu/bg-img/arrow-bottom.svg', fill=$text-color);
            }

            &:hover,
            &:focus {

              &::after {
                background-image: svg-load('../blocks/metismenu/bg-img/arrow-bottom.svg', fill=$link-color--hover) !important;
              }
            }
          }
        }
      }
    }
  }

  &__wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    //min-height: 560px;
    max-height: 100vh;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__left,
  &__right {
    display: flex;
    flex-wrap: wrap;
    //align-items: center;
  }

  &__right {

    .btn {
      font-size: 13px;
      margin-left: 24px;

      @media (min-width: $screen-xl) {
        font-size: 15px;
      }

      @media (min-width: $screen-xxl) {
        font-size: 16px;
      }
    }
  }

  &__service-menu {
    display: none;

    @media (min-width: $screen-lg) {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }

  &__user-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @media (min-width: $screen-lg) {
      margin-left: 24px;
    }

    & > * {
      margin-left: 24px;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
