.page-header {
  position: relative;
  z-index: 5;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: transparent;
  border-bottom: 1px solid rgba($white, 0.15);
  transition: background 0.5s ease-out;

  $block-name:                &; // #{$block-name}__element

  &.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  &--visible,
  &.sticky--new-bg {
    background-color: $white;
    border-bottom-color: transparent;

    .logo {

      svg {

        #icon {
          fill: $main-color;
        }

        #text {
          fill: $title-color;
        }
      }

      &:hover,
      &:focus {

        svg {

          #text {
            fill: $main-color;
          }
        }
      }
    }

    .icon-link {
      color: $text-color;

      &:hover,
      &:focus {
        color: $link-color--hover;
      }
    }

    .dropdown-toggle--menu {
      color: $text-color;

      &::after {
        background-image: svg-load('../blocks/metismenu/bg-img/arrow-bottom.svg', fill=$text-color);
      }

      &:hover,
      &:focus {
        color: $link-color--hover;

        &::after {
          background-image: svg-load('../blocks/metismenu/bg-img/arrow-bottom.svg', fill=$link-color--hover);
        }
      }
    }

    .topbar-nav .metismenu {

      li.active {

        a {
          color: $link-color--hover;

          &::before {
            background-color: $link-color--hover;
          }

          &.has-arrow {

            &::after {
              background-image: svg-load('../blocks/metismenu/bg-img/arrow-bottom.svg', fill=$link-color--hover) !important;
            }
          }
        }
      }

      a {
        color: $text-color;

        &:hover,
        &:focus {
          color: $link-color--hover;

          &::before {
            background-color: $link-color--hover;
          }
        }

        &.has-arrow {

          &::after {
            background-image: svg-load('../blocks/metismenu/bg-img/arrow-bottom.svg', fill=$text-color);
          }

          &:hover,
          &:focus {

            &::after {
              background-image: svg-load('../blocks/metismenu/bg-img/arrow-bottom.svg', fill=$link-color--hover) !important;
            }
          }
        }
      }
    }
  }

  &--visible {
      border-bottom: 1px solid rgba($black, 0.15);

    &.sticky.sticky--new-bg {
      border-bottom: none;
      box-shadow: 0 8px 12px rgba($black, 0.35);
    }
  }

  &__wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    //min-height: 560px;
    max-height: 100vh;

    &--fixed {
      min-height: 568px;
      max-height: none;
      height: auto;

      @media (min-width: $screen-xs) and (orientation: landscape) {
        min-height: 320px;
      }

      @media (min-width: $screen-md) and (orientation: landscape) {
        min-height: 568px;
      }
    }

    &--article {
      height: auto;
      max-height: none;

      .breadcrumbs {
        margin: 24px 0;
        color: $text-color;

        @media (min-width: $screen-md) {
          margin: 32px 0;
        }

        @media (min-width: $screen-lg) {
          margin-bottom: 48px;
        }
      }

      .breadcrumbs__link {
        color: $text-muted;

        &:hover,
        &:focus {
          color: $text-color;
        }
      }

      .breadcrumbs__item {

        &:first-child {

          .breadcrumbs__link {
            background-image: svg-load('../blocks/sprite-svg/svg/home.svg', fill=$text-muted);
          }
        }

        &:last-child {

          .breadcrumbs__link {
            color: inherit;
          }
        }

        &:not(:last-child)::after {
          color: $text-muted;
        }
      }
    }
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__left,
  &__right {
    display: flex;
    flex-wrap: wrap;
    //align-items: center;
  }

  &__right {

    .btn {
      font-size: 13px;
      margin-left: 16px; //24

      @media (min-width: $screen-xl) {
        font-size: 14px;
      }

      @media (min-width: $screen-xxl) {
        font-size: 16px;
      }
    }
  }

  &__service-menu {
    display: none;

    @media (min-width: $screen-lg) {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }

  &__user-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @media (min-width: $screen-lg) {
      margin-left: 16px; //24
    }

    & > * {
      margin-left: 16px; //24

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
