.alert {
  padding-top: 16px;
  padding-bottom: 16px;

  @media (min-width: $screen-lg) {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  $block-name:                &; // #{$block-name}__element

  &__col-left {
    @include col(xs, 12, $grid-columns, 30px);
    @include col(md, 12);
    @include col(lg, 4);
    @include col(xxl, 4, $grid-columns, 48px);
    margin-bottom: 16px;

    @media (min-width: $screen-lg) {
      margin-bottom: 0;
    }
  }

  &__col-right {
    @include col(xs, 12, $grid-columns, 30px);
    @include col(md, 12);
    @include col(lg, 8);
    @include col(xxl, 8, $grid-columns, 48px);
    font-weight: 600;
  }

  &__caption {
    padding: 16px;
    color: $color-danger;
    border-left: 8px solid currentColor;
  }
}
