.social-share {
  margin: 48px 0;

  @media (min-width: $screen-md) {
    margin: 56px 0;
  }

  $block-name:                &; // #{$block-name}__element

  &__title {
    margin: 0 0 16px;
  }

  &__list {
    display: flex;
    gap: 16px;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
  }
}
