.logo {

  $block-name:                &; // #{$block-name}__element

  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  color: $white;
  width: 47px;
  height: 42px;
  overflow: hidden;


  @media (min-width: $screen-md) {
    width: 139px;
  }

  @media (min-width: $screen-xxl) {
    width: 172px;
    height: 52px;
  }

  &:hover,
  &:focus {
    color: $white;
  }

  svg {
    display: block;
    //width: 100%;
    height: 100%;

    #icon {
      transition: all 0.5s ease-out;
    }

    #text {
      display: none;

      @media (min-width: $screen-md) {
        display: block;
        transition: all 0.5s ease-out;
      }
    }
  }

  &--mob-menu {

    svg {

      #icon {
        fill: $main-color;
      }

      #text {

        @media (min-width: $screen-md) {
          fill: $text-color;
        }
      }
    }
  }

  &--footer {
    width: 110px;
    height: 33px;

    @media (min-width: $screen-lg) {
      width: 140px;
      height: 42px;
    }

    svg {

      #icon {
        fill: $main-color;
      }

      #text {
        display: block;
        transition: all 0.2s ease-out;
      }
    }

    &:hover,
    &:focus {

      svg {

        #text {
          fill: $main-color;
        }
      }
    }
  }
}
